<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <!-- Name and New button -->
    <div class="row">
      <div class="col-6">
        <h1>Flight Instances</h1>
      </div>
      <div class="col-6 text-right">
        <button
          type="button"
          class="btn btn-primary mt-2"
          (click)="newFlightInstance()">
          New
        </button>
      </div>
    </div>

    <!-- Error message -->
    <ngb-alert
      *ngIf="errorMessage"
      [type]="'danger'"
      (closed)="dismissError()"
      class="mt-2">
      {{ errorMessage }}
    </ngb-alert>

    <!-- Success message -->
    <ngb-alert
      *ngIf="successMessage"
      [type]="'success'"
      (closed)="dismissSuccess()"
      class="mt-2">
      {{ successMessage }}
    </ngb-alert>

    <!-- FlightInstances table -->
    <div class="table-responsive">
      <table class="table mt-3 table-hover text-center whole-word">
        <thead>
          <tr>
            <!-- <th>Id</th> -->
            <th>Date</th>
            <th>Flight Id</th>
            <th>Departure airport</th>
            <th>Arrival airport</th>
            <th>Airline</th>
            <th>Duration (minutes)</th>
            <th>Remaining ticket count</th>
            <th>Current ticket count</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let flightInstance of flightInstances">
            <!-- <td>{{ flightInstance.id }}</td> -->
            <td>
              {{ flightInstance.flightDate | date: "yyyy-MM-dd" }}<br />
              {{ flightInstance.flightDate | date: "HH:mm" }}
            </td>
            <td>
              {{ flightInstance.flight.flightId }}
            </td>
            <td>
              {{ flightInstance.flight.departureAirport.airportId }} -
              {{ flightInstance.flight.departureAirport.place }}
            </td>
            <td>
              {{ flightInstance.flight.arrivalAirport.airportId }} -
              {{ flightInstance.flight.arrivalAirport.place }}
            </td>
            <td>
              {{ flightInstance.flight.airline.name }}
            </td>
            <td>
              {{ flightInstance.flightLengthInMinutes }}
            </td>
            <td>
              {{ flightInstance.count }}
            </td>
            <td>
              {{ flightInstance.ticketCount }}
            </td>
            <td>
              <button
                (click)="editFlightInstance(flightInstance)"
                class="btn btn-sm btn-outline-secondary mr-1">
                Edit
              </button>
            </td>
            <td>
              <button
                (click)="deleteFlightInstance(flightInstance)"
                class="btn btn-sm btn-outline-danger">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-1"></div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="deleteFlightInstanceModal"
  tabindex="-1"
  aria-labelledby="deleteFlightInstanceModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      
      <div class="modal-body">
        <div class="text-center">
          Are you sure you want to delete this flight instance?
        </div>
        <div class="text-center mt-2">
          <button
            (click)="hideModal()"
            class="btn btn-sm btn-outline-secondary mx-1">
            Cancel
          </button>
          <button
            (click)="deleteFlightInstanceFinally()"
            class="btn btn-sm btn-danger mx-1">
            Delete
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
