<div class="row">
  <div class="col-md-1 col-lg-2"></div>
  <div class="col-md-10 col-lg-8 container-lg">
    <h1>Users</h1>

    <!-- Error message -->
    <ngb-alert
      *ngIf="errorMessage"
      [type]="'danger'"
      (closed)="dismissErrorAlert()"
      class="mt-2"
      >{{ errorMessage }}
    </ngb-alert>

    <!-- Success message -->
    <ngb-alert
      *ngIf="successMessage"
      [type]="'success'"
      (closed)="dismissSuccessAlert()"
      class="mt-2"
      >{{ successMessage }}
    </ngb-alert>

    <!-- Users table -->
    <table class="table mt-3 table-hover">
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>Last name</th>
          <th>User type</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td (click)="userDetails(user)">{{ user.username }}</td>
          <td (click)="userDetails(user)">{{ user.name }}</td>
          <td (click)="userDetails(user)">{{ user.lastName }}</td>
          <td (click)="userDetails(user)">{{ user.userType.name }}</td>
          <td>
            <button
              (click)="editUser(user)"
              class="btn btn-sm btn-outline-secondary mr-1"
            >
              Edit
            </button>
          </td>
          <td>
            <button
              (click)="deleteUser(user)"
              class="btn btn-sm btn-outline-danger"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-1 col-lg-2"></div>
</div>

<div
  class="modal fade"
  id="deleteUserModal"
  tabindex="-1"
  aria-labelledby="deleteUserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div class="text-center">
          Are you sure you want to delete this user?
        </div>

        <div class="text-center mt-2">
          <button
            (click)="hideModal()"
            class="btn btn-sm btn-outline-secondary mx-1"
          >
            Cancel
          </button>
          <button
            (click)="deleteUserFinally()"
            class="btn btn-sm btn-danger mx-1"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
