<div class="row">
  <div class="col-md-3 col-lg-4"></div>
  <div class="col-md-6 col-lg-4 container">
    
    <!-- Name and New button -->
    <div class="row">
      <div class="col-6">
        <h1>Airlines</h1>
      </div>
      <div class="col-6 text-right">
        <button
          type="button"
          class="btn btn-primary mt-2"
          (click)="newAirline()">
          New
        </button>
      </div>
    </div>

    <!-- Error message -->
    <ngb-alert
      *ngIf="errorMessage"
      [type]="'danger'"
      (closed)="dismissError()"
      class="mt-2">
      {{ errorMessage }}
    </ngb-alert>

    <!-- Success message -->
    <ngb-alert
      *ngIf="successMessage"
      [type]="'success'"
      (closed)="dismissSuccess()"
      class="mt-2">
      {{ successMessage }}
    </ngb-alert>

    <!-- Airlines table -->
    <div class="table-responsive">
      <table class="table mt-3 table-hover mx-sm-1 mx-md-0 text-center whole-word">
        <thead>
          <tr>
            <th>Id</th>
            <th>Airline</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let airline of airlines">
            <td>
              <a
                href="{{ airline.link }}"
                target="_blank"
                style="text-decoration: none; display: block"
                class="text-dark">
                {{ airline.id }}
              </a>
            </td>
            <td>
              <a
                href="{{ airline.link }}"
                target="_blank"
                style="text-decoration: none; display: block"
                class="text-dark">
                {{ airline.name }}
              </a>
            </td>
            <td>
              <button
                (click)="editAirline(airline)"
                class="btn btn-sm btn-outline-secondary mr-1">
                Edit
              </button>
            </td>
            <td>
              <button
                (click)="deleteAirline(airline)"
                class="btn btn-sm btn-outline-danger">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-3 col-lg-4"></div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="deleteAirlineModal"
  tabindex="-1"
  aria-labelledby="deleteAirlineModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      
      <div class="modal-body">
        <div class="text-center">
          Are you sure you want to delete this airline?
        </div>
        <div class="text-center mt-2">
          <button
            (click)="hideModal()"
            class="btn btn-sm btn-outline-secondary mx-1">
            Cancel
          </button>
          <button
            (click)="deleteAirlineFinally()"
            class="btn btn-sm btn-danger mx-1">
            Delete
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
