<div class="px-sm-1 px-md-3 px-lg-4">

  <!-- Name, New and Filter button -->
  <div class="row">
    <div class="col-9">
      <h1>Reservations</h1>
    </div>
    <div class="col-3 d-flex justify-content-end flex-wrap">
      <div class="mr-sm-0 mr-md-2">
        <button
          type="button"
          class="btn btn-primary mt-2"
          (click)="newReservation()"
          *ngIf="authService.isAdminLoggedIn()">
          New
        </button>
      </div>
      <div>
        <button
          type="button"
          class="btn btn-outline-secondary mt-2"
          (click)="collapse.toggle()"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample">
          Filter
        </button>
      </div>
    </div>
  </div>

  <!-- Filter -->
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="mt-2">
    <div class="card">
      <div class="card-body p-4">
        <div class="row">
          
          <!-- From airport -->
          <div class="col-sm-6 col-md-3">
            <label for="fromAirportId">From airport</label>
            <select
              id="fromAirportIdSelection"
              class="form-control"
              [(ngModel)]="filter.fromAirportId">
              <option [ngValue]="null" class="text-monospace">- Please Choose -</option>
              <option *ngFor="let a of airports" [ngValue]="a.id" class="text-monospace">
                {{ a.airportId }} - {{ a.place }}
              </option>
            </select>
          </div>

          <!-- To airport -->
          <div class="col-sm-6 col-md-3">
            <label for="toAirportId">To airport</label>
            <select
              id="toAirportIdSelection"
              class="form-control"
              [(ngModel)]="filter.toAirportId">
              <option [ngValue]="null">- Please Choose -</option>
              <option *ngFor="let a of airports" [ngValue]="a.id">
                {{ a.airportId }} - {{ a.place }}
              </option>
            </select>
          </div>

          <!-- From date -->
          <div class="col-sm-6 col-md-3">
            <label for="fromDate">From</label>
            <div class="input-group">
              <input
                id="fromDate"
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                ngbDatepicker
                #fd="ngbDatepicker"
                [(ngModel)]="filter.fromDate"/>
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary p-0"
                  (click)="fd.toggle()"
                  type="button">
                  <i class="las la-calendar m-1" style="font-size: x-large"></i>
                </button>
              </div>
            </div>
          </div>

          <!-- To date -->
          <div class="col-sm-6 col-md-3">
            <label for="toDate">To</label>
            <div class="input-group">
              <input
                id="toDate"
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                ngbDatepicker
                #td="ngbDatepicker"
                [(ngModel)]="filter.toDate"/>
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary p-0"
                  (click)="td.toggle()"
                  type="button">
                  <i class="las la-calendar m-1" style="font-size: x-large"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-sm-0 mt-md-3">
          
          <!-- Airline -->
          <div class="col-sm-6 col-md-3">
            <label for="airlineId">Airline</label>
            <select
              id="airlineIdSelection"
              class="form-control"
              [(ngModel)]="filter.airlineId">
              <option [ngValue]="null">- Please Choose -</option>
              <option *ngFor="let a of airlines" [ngValue]="a.id">
                {{ a.name }}
              </option>
            </select>
          </div>

          <!-- User -->
          <div *ngIf="authService.isAdminLoggedIn()" class="col-sm-6 col-md-3">
            <label for="userId">User</label>
            <select
              id="userIdSelection"
              class="form-control"
              [(ngModel)]="filter.userId">
              <option [ngValue]="null">- Please Choose -</option>
              <option *ngFor="let u of users" [ngValue]="u.id">
                {{ u.username }}
              </option>
            </select>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-sm-12 col-md-6"></div>
          <div class="col-sm-12 col-md-6 text-right">
            <button
              type="button"
              class="btn btn-outline-secondary mr-2"
              (click)="resetFilter()">
              Reset
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              (click)="getReservations()">
              Filter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Error message -->
  <ngb-alert
    *ngIf="errorMessage"
    [type]="'danger'"
    (closed)="dismissErrorAlert()"
    class="mt-2">
    {{ errorMessage }}
  </ngb-alert>

  <!-- Success message -->
  <ngb-alert
    *ngIf="successMessage"
    [type]="'success'"
    (closed)="dismissSuccessAlert()"
    class="mt-2">
    {{ successMessage }}
  </ngb-alert>


  <!-- Reservations table -->
  <div class="table-responsive">
    <table class="table mt-2 table-hover text-center whole-word">
      <thead>
        <tr>
          <th>#</th>
          <th>Id</th>
          <th>Departure airport</th>
          <th>Arrival airport</th>
          <th>Airline</th>
          <th>Departure ticket id</th>
          <th>Departure flight</th>
          <th>Departure date</th>
          <th>Return ticket id</th>
          <th>Return flight</th>
          <th>Return date</th>
          <th *ngIf="authService.isAdminLoggedIn()">User</th>
          <th *ngIf="authService.isAdminLoggedIn()">Edit</th>
          <th *ngIf="authService.isAdminLoggedIn()">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations; index as i">
          <th>
            {{ i + 1 }}
          </th>
          <td>
            {{ reservation.id }}
          </td>
          <td>
            {{ reservation.departureTicket.flightInstance.flight.departureAirport.airportId }}<br />
            {{ reservation.departureTicket.flightInstance.flight.departureAirport.place }}
          </td>
          <td>
            {{ reservation.departureTicket.flightInstance.flight.arrivalAirport.airportId }}<br />
            {{ reservation.departureTicket.flightInstance.flight.arrivalAirport.place }}
          </td>
          <td>
            {{ reservation.departureTicket.flightInstance.flight.airline.name }}
          </td>
          <td>
            {{ reservation.departureTicket.id }}
          </td>
          <td>
            {{ reservation.departureTicket.flightInstance.flight.flightId }}
          </td>
          <td>
            {{ reservation.departureTicket.flightInstance.flightDate | date: "yyyy-MM-dd" }}<br />
            {{ reservation.departureTicket.flightInstance.flightDate | date: "HH:mm" }}
          </td>
          <td>
            {{ reservation.returnTicket.id }}
          </td>
          <td>
            {{ reservation.returnTicket.flightInstance.flight.flightId }}
          </td>
          <td>
            {{ reservation.returnTicket.flightInstance.flightDate | date: "yyyy-MM-dd" }}<br />
            {{ reservation.returnTicket.flightInstance.flightDate | date: "HH:mm" }}
          </td>
          <td *ngIf="authService.isAdminLoggedIn()">
            <span *ngIf="reservation.user">{{ reservation.user.username }}</span>
            <span *ngIf="!reservation.user">N/A</span>
          </td>
          <td *ngIf="authService.isAdminLoggedIn()">
            <button
              (click)="editReservation(reservation)"
              class="btn btn-sm btn-outline-secondary mr-1">
              Edit
            </button>
          </td>
          <td *ngIf="authService.isAdminLoggedIn()">
            <button
              (click)="deleteReservation(reservation)"
              class="btn btn-sm btn-outline-danger">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--  Modal -->
<div
  class="modal fade"
  id="deleteReservationModal"
  tabindex="-1"
  aria-labelledby="deleteReservationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      
      <div class="modal-body">
        <div class="text-center">
          Are you sure you want to delete this flight instance?
        </div>
        <div class="text-center mt-2">
          <button
            (click)="hideModal()"
            class="btn btn-sm btn-outline-secondary mx-1">
            Cancel
          </button>
          <button
            (click)="deleteReservationFinally()"
            class="btn btn-sm btn-danger mx-1">
            Delete
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

