<header>
  <!-- <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" routerLink="/">AWP H1</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" *ngIf="authService.isUserLoggedIn()">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/groups" *ngIf="authService.isUserLoggedIn()">Groups</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item" *ngIf="authService.isUserLoggedIn()">
          <span class="navbar-text">{{ authService.getLoggedInUser() }}</span>
        </li> -->
        <!--
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="!authService.isUserLoggedIn()">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/logout" *ngIf="authService.isUserLoggedIn()">Log Out</a>
        </li>
      </ul>
    </div>
  </nav> -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Home</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item dropdown" *ngIf="authService.isAdminLoggedIn()">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="las la-table"></i> Pages
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/airlines"><i class="las la-location-arrow"></i> Airlines</a></li>
              <li><a class="dropdown-item" routerLink="/airports"><i class="las la-industry"></i> Airports</a></li>
              <li><a class="dropdown-item" routerLink="/flights"><i class="las la-plane"></i> Flights</a></li>
              <li><a class="dropdown-item" routerLink="/flightInstances"><i class="las la-plane-departure"></i> Flight Instances</a></li>
              <li><a class="dropdown-item" routerLink="/tickets"><i class="las la-ticket-alt"></i> Tickets</a></li>
              <li><a class="dropdown-item" routerLink="/reservations"><i class="las la-calendar"></i> Reservations</a></li>
              <li><a class="dropdown-item" routerLink="/users"><i class="las la-user"></i> Users</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown" *ngIf="authService.isAdminLoggedIn()">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="las la-plus"></i> New
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/airlines/new"><i class="las la-location-arrow"></i> Airline</a></li>
              <li><a class="dropdown-item" routerLink="/airports/new"><i class="las la-industry"></i> Airport</a></li>
              <li><a class="dropdown-item" routerLink="/flights/new"><i class="las la-plane"></i> Flight</a></li>
              <li><a class="dropdown-item" routerLink="/flightInstances/new"><i class="las la-plane-departure"></i> Flight Instance</a></li>
              <li><a class="dropdown-item" routerLink="/tickets/new"><i class="las la-ticket-alt"></i> Tickets</a></li>
              <li><a class="dropdown-item" routerLink="/reservations/new"><i class="las la-calendar"></i> Reservation</a></li>
              <li><a class="dropdown-item" routerLink="/register"><i class="las la-user-plus"></i> User</a></li>
            </ul>
          </li>

        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item my-auto" *ngIf="!authService.isUserLoggedIn()">
            <a class="nav-link" routerLink="/register" *ngIf="!authService.isUserLoggedIn()">Register</a>
          </li>
          <li class="nav-item my-auto" *ngIf="authService.isUserLoggedIn()">
            <a class="nav-link" routerLink="/users/{{ authService.getLoggedInUserId() }}/details" *ngIf="authService.isUserLoggedIn()">{{ authService.getLoggedInUsername() }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" *ngIf="!authService.isUserLoggedIn()">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/logout" *ngIf="authService.isUserLoggedIn()">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>